<div class="footer border-top text-center fixed-bottom py-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col">RBC <span style="color: blue">Pay</span><i>edge</i></div>
            <div class="col">Need help? Contact us at dev@payment.eu or call at +1876578076</div>
        </div>
        <div class="row">
            <div class="col">Royal Bank of Canada Website, @c 1995-2207</div>
            <div class="col">
                <span><a>Terms of Service</a></span>
                <span><a>Privacy and Security Policy</a></span>
            </div>
        </div>
    </div>
</div>